<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

    <h2>Veuillez vous enregistrer:</h2>

    <label for="email">Email: </label>
    <input id="email" type="email" formControlName="email">
    <label for="password1">Mot de passe: </label>
    <input id="password1" type="password" formControlName="password1">
    <label for="password2">Confirmation de mot de passe: </label>
    <input id="password2" type="password" formControlName="password2">
    <button type="submit" [disabled]="!signupForm.valid">Connexion</button>
</form>